* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  height: 100vh;
  background-color: hsl(185, 41%, 84%);
}

main {
  display: flex;
  align-items: flex-end;
  height: 100vh;
}
main .logo {
  display: none;
}
main .card {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: hsl(0, 0%, 100%);
  padding: 40px 30px 30px 30px;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}
main .card .input-container {
  width: 100%;
}
main .card .input-container .form {
  margin-bottom: 35px;
}
main .card .input-container .form #bill-in, main .card .input-container .form #n-people {
  width: 100%;
  height: 5vh;
  border-radius: 3px;
  border: none;
  padding: 10px;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  text-align: end;
  font-size: 18px;
  font-weight: 600;
}
main .card .input-container .bill-form {
  position: relative;
}
main .card .input-container .bill-form img {
  position: absolute;
  bottom: 18%;
  right: 95%;
}
main .card .tip-container p {
  margin-bottom: 5px;
}
main .card .tip-container .buttons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
  justify-items: center;
}
main .card .tip-container .buttons-container #tip-btn,
main .card .tip-container .buttons-container #tip-in {
  width: 100px;
  height: 38px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}
main .card .tip-container .buttons-container #tip-in {
  background-color: hsl(189, 41%, 97%);
  text-align: center;
}
main .card .tip-container .buttons-container #tip-btn {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-size: 17px;
  border-radius: 5px;
  margin-bottom: 10px;
}
main .card .output-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  background-color: hsl(183, 100%, 15%);
  padding: 20px 15px 10px 15px;
}
main .card .output-container .content-container {
  position: relative;
}
main .card .output-container .content-container p {
  color: hsl(0, 0%, 100%);
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
}
main .card .output-container .content-container p #person {
  font-size: 12px;
  color: hsl(184, 14%, 56%);
}
main .card .output-container .content-container #tip-amount, main .card .output-container .content-container #tip-total {
  position: relative;
  bottom: 20px;
  float: right;
  font-size: 24px;
  font-weight: 800;
  color: hsl(172, 67%, 45%);
}
main .card .output-container .reset-btn-container {
  padding-top: 20px;
}
main .card .output-container .reset-btn-container #reset-btn {
  width: 100%;
  height: 40px;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}

@media screen and (orientation: landscape) {
  main {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px 50px 50px 50px;
  }
  main .card {
    border-radius: 20px 20px 20px 20px;
  }
}
@media screen and (min-width: 960px) {
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: relative;
    height: 100vh;
  }
  main .logo {
    position: absolute;
    left: 42.5%;
    top: -85%;
  }
  main .card {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    width: 60%;
  }
  main .card .input-container {
    width: 50%;
  }
  main .card .input-container .form #bill-in, main .card .input-container .form #n-people {
    width: 90%;
  }
  main .card .tip-container {
    padding-right: 20px;
    width: 95%;
  }
  main .card .tip-container #tip-btn {
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
  }
  main .card .output-container {
    width: 50%;
    padding: 35px;
  }
  main .card .output-container .content-container {
    margin-bottom: 100px;
  }
}

/*# sourceMappingURL=styles.css.map */
